main.inicio {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: none;
}

.principal {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.carta h2 { text-align: left; }

.primero{
   position: absolute;
    left: 0; bottom: 0;
    width: 45%;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.contenedor-boton
{
  display: flex;
  flex-direction: row-reverse;
}

.contenedor-3
{
  flex-direction: row; 
  display: flex; 
  gap: 10px;
}

.contenedor-3 .carta
{
  flex: 1;
}
